

<ion-header>
<app-header></app-header>
</ion-header>
<ion-content>

<div class="main">

  
  <label>Please sign in</label>
<ion-item class="item inp">
<ion-input type={text} placeholder="email"></ion-input>
</ion-item>

<ion-item class="item inp">
<ion-input type={text} placeholder="password"></ion-input>
</ion-item>
<ion-button color="primary">submit</ion-button>
<br>
<label class="bottom-link">click on register if you don't have Account. <span routerLink="./register" class="reg">here</span> to register</label>
</div>




</ion-content>

  


      