

<ion-header>
<app-header></app-header>
</ion-header>
<ion-content>

<div class="main">
  <label>Please fill in your deatils</label>
  <br>
<ion-item class="item inp">
  <ion-input type={text} placeholder="First Name"></ion-input>
</ion-item>

<ion-item class="item inp">
  <ion-input type={text} placeholder="Last Name"></ion-input>
</ion-item>

<ion-item class="item inp">
  <ion-input type={text} placeholder="Email"></ion-input>
</ion-item>

<ion-item class="item inp">
  <ion-input type={password} placeholder="password"></ion-input>
</ion-item>

<ion-item class="item inp">
  <ion-input type={password} placeholder="confirm-password"></ion-input>
</ion-item>


<ion-button color="primary">submit</ion-button>
<br>
<label class="bottom-link"> Already have an account? click <span routerLink="./login" class="reg">here</span> to login</label>
</div>




</ion-content>

  


      